
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.cart-item-amount-box {
	width: 40px;
	margin: 0 10px;
	text-align: center;
	border: none;
}

.cart-item-row {
	padding: 25px;
	justify-content: space-around;
	margin-top: 8px;
	margin-bottom: 8px;
}

.run-on-text {
	overflow: hidden;
	white-space: nowrap;
}
